{% extends 'base.html' %}

{% block content %}
<header>
  <div id="home icons" class="my-5 text-center"></div>
    <div class="container" >
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4">
          <i class="fas fa-cog fa-3x"></i>
           <h3>Turning Gears</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At sapiente dicta nulla molestiae vel, consequatur tempore necessitatibus temporibus repudiandae aliquid fugit repellat harum. Cumque minima beatae velit aspernatur a omnis?</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-cloud fa-3x"></i>
          <h3>Sending Data</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat molestias quae nostrum consectetur quia culpa, ad nobis suscipit numquam, rerum, asperiores earum. Quam non cupiditate amet eum praesentium animi ullam!</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-cart-plus fa-3x"></i>
          <h3>Making Money</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, eveniet amet natus molestiae perferendis labore quae reprehenderit incidunt laboriosam modi consequatur similique dolorem alias. Porro aperiam velit voluptatum ipsum expedita.</p>
        </div>
      </div>
    </div></header>
  </div>
  <section>
    <div class="container-xxl">
  <div class="row align-items-center">
    {% for post in posts %}
    <div class="col-7"><h1>Welcome to our Group</h1></div>
    <div class="col-5"><img class="w-100" src="https://images.pexels.com/photos/5641953/pexels-photo-5641953.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
  </div>
</div>
   </section>
   <section> 
    <div class="container-xxl">
  <h2>First informational</h2>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              {% if post.image.url != null %}
              <video src="https://ak.picdn.net/shutterstock/videos/30559417/preview/stock-footage-drag-racing-car-burns-rubber-off-its-tires-in-preparation-for-the-race.webm" autoplay muted loop ></video>
              {% endif %}
              <div class="card-body">
               <a href="{{post.get_absolute_url}}">{{post.title}}></a> 
                <p class="card-text">{{post.content|slice:"0:100"}}</p>
                <a href="{{post.category.get_absolute_url}}">{{post.title}} class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1023624340/preview/stock-footage-beautiful-sunrise-over-the-earth-view-from-space-satellite-cities-at-night-changing-from-night.mp4" autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1069499368/preview/stock-footage-burnaby-vancouver-british-columbia-canada-time-lapse-beautiful-panoramic-aerial-view-of-a.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1031822039/preview/stock-footage-beautiful-top-view-time-lapse-of-car-traffic-at-roundabout-lane-and-buildings-k-drone-aerial-zoom.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1027882880/preview/stock-footage-young-entrepreneur-walkling-toward-city-sky-scrapers-dubai-urban-panorama-futuristic-digital-nomad.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1033854800/preview/stock-footage-portrait-serious-face-african-american-man-ooking-at-camera-enjoying-in-urban-city-handsome.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1045628542/preview/stock-footage-digitalization-concept-human-finger-turns-on-touch-screen-button-and-activates-futuristic.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1038801227/preview/stock-footage-high-angle-shot-of-a-crowded-pedestrian-crossing-in-big-city-augmented-reality-of-social-media.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1049073496/preview/stock-footage-group-using-video-conferencing-technology-in-office-for-video-call-with-colleagues-abroad.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1008551917/preview/stock-footage-stylish-office-in-loft-style-businessman-makes-notes-on-the-wall-business-idea-thinking-design.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/1038291482/preview/stock-footage-airplane-flies-over-business-skyscrapers-against-sunset-clouds-beautiful-d-animation-k-ultra-hd.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <video src="https://ak.picdn.net/shutterstock/videos/32229790/preview/stock-footage-family-toasting-wine-at-christmas-dinner-family-enjoying-christmas-dinner-together-at-home-with.mp4"autoplay muted loop></video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
   </section>
   <footer style=" background-color: #212529;">
     <div class="container">
       <div class="row padding text-center">
         <div class="col-12" style="color:white">
           <h2>Our contacts</h2>
         </div>
         <div class="col-12 social padding" style="font-size: 4em; padding: 15px;">
           <a href=""><i class="fab fa-twitter" style="color: #00aced;"></i></a>
           <a href=""><i class="fab fa-instagram" style="color: #517fa4;"></i></a>
           <a href=""><i class="fab fa-youtube" style="color: #bb0000;"></i></a>
           <a href=""><i class="fab fa-facebook" style="color: #3b5998;"></i></a>
           <a href=""><i class="fab fa-google-plus-g" style="color: ##dd4b39;"></i></a>
         </div>
       </div>
     </div>
     

   </footer>
  
{% endfor %}

{% endblock %}