{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3 class="text-center">{{post.title}}</h3>
            {% if post.image.url != null %}
                <img src="{{post.image.url}}" style="width: 100%;" alt="">
            {% endif %}
            <p>{{post.content}}</p>
            <p class="text-left">
                <i>Prosmotri: {{post.views}}</i>
                <i>{{post.date|date:"d F,Y"}}</i>
            </p>
            <hr>
            <p><i>Kommentariyalar: {{post.comment_set.count}}</i></p>
            <h3>Kommentariya qoldirish</h3>
            {% if user.is_authenticated %}
            <form action="{% url 'comment' post.slug %}" method="POST">
                {% csrf_token %}
                <p>
                    <textarea name="text" id="" cols="30" rows="10" class="form-control"></textarea>
                </p>
                <p class="text-right">
                    <button class="btn btn-outline-primary">Yuborish</button>

                </p>
            </form> 
            {% else %}
            <p>Kommentariya qoldirish uchun <a href="{% url 'register'%}">Registratsiya qiling yoki <a href="{% url 'login' %}"></a> </a></p>
            {% endif %}
            <hr>
            {% for comment in post.comment_set.all %}
            <div class="col-md-12">
                <h3>{{comment.user.username}}</h3>
                <p>{{comment.text}}</p>
                <p class="text-right">{{comment.data|timesince}} oldin</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}