{% extends 'base.html' %}

{% block title %}
Registratsiya
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
           <form action="{% url 'register' %}" method="POST">
               {% csrf_token %}
               {{form.as_p}}
               <button class="btn btn-success">Registratsiya</button>
           </form>
            {% if post.image.url != null %}
                <img src="{{register.image.url}}" style="width: 100%;" alt="">
            {% endif %}
            <p>{{register.content}}</p>
            
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}