{% extends 'base.html' %}
{% block title %}
qidiruv bo'yicha {{query}} 
{% endblock %}

{% block content %}
<div class="container">
     <div class="row">
         <div class="col-md-9">
             <div class="row">
                  {% for post in posts %}
                  <div class="col-md-4">
                      {% if post.image.url != null %}
                      <img src="{{post.image.url}}" alt="" >
                    {% endif %}
                    <h3 class="text-center">{{podt.title}}</h3>
                  </div>
                  {% empty %}
                  <h2>Suralgan '{{query}}' bo'yicha hech narsa topilmadi </h2>
                  
                  {% endfor %}
             </div>

         </div>
     </div>
</div>



{% endblock %}